
.video1 {
  display: flex;
  justify-content: center;
  gap: 25px; 
  width: 100%;
  padding: 20px 40px;
  /* box-sizing: border-box; */
}

.video-left {
    margin-right: 60px;
  flex: 2.2;     
  max-width: 900px;
}

/* Right side (suggestions) */
.suggestion-container {
    margin-right: 70px;
  flex: 1;
  max-width: 380px;
}

.suggestion-container .videolist-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.suggestion-container .video-card {
  display: flex;
  gap: 12px;
  cursor: pointer;
}

.suggestion-container .video-card img {
  width: 168px;
  height: 94px;
  border-radius: 10px;
}

.suggestion-container .video-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

/* Meta (channel + views) */
/* .suggestion-container .video-meta {
  font-size: 12px;
  color: #606060;
  margin-top: 5px;
} */
